@import "tailwindcss";

:root {
  /* Apple'ın meşhur "Off-White" arka planı ve derin siyahı */
  --background: #fbfbfd;
  --foreground: #1d1d1f;
  
  /* Yardımcı renkler */
  --secondary: #86868b;
  --accent-blue: #0066cc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent-blue);
  
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

@layer base {
  body {
    /* bg-background diyerek yukarıdaki #fbfbfd'yi zorunlu kılıyoruz */
    @apply bg-background text-foreground font-sans antialiased m-0 p-0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}